<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="reachdigital_auto_invoice_after_place_order" instance="ReachDigital\AutoInvoice\Observer\AutoInvoiceAfterPlaceOrder"/>
    </event>
</config>
